{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <title>Disaster System</title>
  </head>
  <body>
    <div class="center container">
      <h1 class="text-center text-info">Bangladesh</h1>
      <h5 class="text-center text-danger">Disaster System</h5>
      <div class="input-group mb-3">
        <input
          method="GET"
          id="webURL"
          type="text"
          name="search_url"
          class="form-control"
          placeholder="url: https://"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <input
            onclick="setGetParameter()" 
            class="btn btn-primary"
            type="button"            
            value = "Scrap"
          />
        <div class="input-group-append">
          <a
            class="btn btn-outline-secondary"
            type="button"
            href="{% url 'home'%}"
            
          >
            Show Results
          </a>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>

      function setGetParameter(){
          var search_word = $("#webURL").val();
          console.log(search_word)
          $.ajax({
            type: "GET",
            url: "{% url 'got_url' %}",
            data: {"data":search_word},
            success: function(result){
              alert("Success");
            }
          });
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
